@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: #a29d7f;
    font-family: 'Zilla Slab', serif;
    font-size: 55px;
    margin-top: 60px;
}

.cad {
    width: 830px;
    height: 480px;
    background-color: #b4ae8e;
    border: 5px solid #aabe9b;
    border-radius: 15px;
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom:100px;
    box-shadow: 12px 12px 2px 1px #637566;

    font-family: 'Times New Roman', Times, serif;
}

.form {
    margin-top: 30px;
}

.form input {
    border-radius: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3.5px solid;
    margin-left: 5px;
    margin-top: 3.5px;
    height: 30px;
}

#nome {
    width: 330px;
}

.form .title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-weight: bold;
}

.form .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.form .btns input {
    width: 200px;
    color: #eee;
}

.form .btns .btn3 {
    background-color: #cfb820;
}

.form .btns .btn2 {
    background-color: #157515;
}

.form .btns .btn1 {
    background-color: #ad2525;
}