@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A0A083;
    font-family: 'Comfortaa', cursive;
}

.navbar .nav_list {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}

.navbar .nav_list li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.navbar .nav_list li a {
    color: #EAE0CC;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.navbar .nav_list li a:hover {
    background-color: #04dc9b;
    color: black;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.nav_list li ul {
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: white;
    display: none;
}

.nav_list li:hover .nav_list li.over ul {
    display: block;
}

.nav_list li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: #EAE0CC;
    font-family: 'Zilla Slab', serif;
    font-size: 45px;
    margin-top: 50px;
}

.cad {
    width: 830px;
    height: 480px;
    border: 5px solid #4D6A6D;
    border-radius: 15px;
    padding-left: 20px;
    margin-top: 100px;
}

.form {
    margin-top: 30px;
}

.form input {
    border-radius: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3.5px solid;
    margin-left: 5px;
    margin-top: 3.5px;
    height: 30px;
}

#nome {
    width: 330px;
}

.form .title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-weight: bold;
}

.form .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.form .btns input {
    width: 200px;
    color: #eee;
}

.form .btns .btn3 {
    background-color: #cfb820;
}

.form .btns .btn2 {
    background-color: #157515;
}

.form .btns .btn1 {
    background-color: #ad2525;
}