.cad .form #email,
#senha{
  width:280px;
}

.cad .form #nome, #email, #senha{
  margin-top:10px;
  margin-left:5%;
  
}

.cad .form label{
  padding-left:15px;
}

.cad .form .btns {
  margin-top:200px;
}